# Python va Django
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual muhit
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Ma'lumotlar bazasi
db.sqlite3
db.sqlite3-journal

# Statik va media fayllar (WhiteNoise va media)
staticfiles/
media/

# Loglar va kesh
*.log
*.pot
*.mo
.cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.coverage
.coverage.*
coverage.xml
htmlcov/

# Django maxsus fayllar
local_settings.py
*.env
.env
.env.*

# IDE va muharrirlar
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.spyderproject
.spyproject
.ropeproject

# Boshqa
.DS_Store
Thumbs.db
*.bak
*.swp
*.sage.py
*.egg-info/
dist/
build/
__pypackages__/
celerybeat-schedule
celerybeat.pid
.ipynb_checkpoints/