                    <div class="form-wrapper style-1 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="0.7s">
                        <div class="form-body bg-primary background-blend-burn"
                             style="background-image: url({% static 'dashboard/images/background/bg2.png' %});">
                            <div class="title-head">
                                <h2 class="form-title m-b0">Qabulga yozilish</h2>
                            </div>
                            <form action="" class="dzForm" method="POST">
                                <input type="hidden" class="form-control" name="dzToDo" value="Contact">
                                <input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
                                <div class="dzFormMsg"></div>
                                <div class="row">
                                    <div class="col-sm-6 m-b30">
                                        <div class="form-floating floating-underline input-light">
                                            <input name="dzName" type="text" class="form-control" id="inputYourName"
                                                   placeholder="Ism Familiya" required>
                                            <label for="inputYourName">Ism Familiya</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 m-b30">
                                        <div class="form-floating floating-underline input-light">
                                            <input name="dzPhoneNumber" type="text" class="form-control dz-number"
                                                   id="inputPhoneNumber" placeholder="Telefon raqami" required>
                                            <label for="inputPhoneNumber">Telefon raqami</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 m-b30">
                                        <div class="form-floating floating-underline input-light">
                                            <textarea name="dzMessage" class="form-control" id="inputMessage" rows="6"
                                                      placeholder="So‘rov" required></textarea>
                                            <label for="inputMessage">So‘rov</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" name="submit" value="submit"
                                                class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow">
                                            Yuborish <span class="right-icon"><i
                                                class="feather icon-arrow-right"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>