{% extends 'dashboard.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Asosiy sahifa
{% endblock title %}
{% block style %}
    <style>
        .textbox__image {
            width: 100%; /* To‘liq kenglik */
            height: 200px; /* Rasmning maksimal balandligi */
            overflow: hidden; /* Oshib ketgan joylarni yashirish */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .textbox__image img {
            width: 100%; /* To‘liq kenglik */
            height: 100%; /* To‘liq balandlik */
            object-fit: cover; /* Rasmni muvofiqlashtirish */
            border-radius: 8px; /* Yaxshi ko‘rinishi uchun */
        }
    </style>
{% endblock style %}


{% block content %}
    <!-- About Start -->

    <!-- slider -->
    <div class="slider">

        <!-- carousel__element owl-carousel -->
        <div class="carousel__element owl-carousel"
             data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 3000}'>

            {% for banner in banners %}
                <!-- Slider Item -->
                <div class="slider__item" style="position: relative; overflow: hidden;">
                    <!-- Background Image with Blur Effect -->
                    <div class="slider__background"
                         style="background-image: url('{{ banner.image.url }}');
                                 filter: blur(8px);
                                 position: absolute;
                                 top: 0;
                                 left: 0;
                                 width: 100%;
                                 height: 100%;
                                 background-size: cover;
                                 background-position: center;
                                 z-index: -1;">
                    </div>

                    <div class="md-tb">
                        <div class="md-tb__cell">
                            <div class="slider__content">
                                <div class="container">
                                    <h2>{{ banner.description|get_language_text:request.LANGUAGE_CODE }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div><!-- End / carousel__element owl-carousel -->


    </div><!-- End / slider -->
    <!-- Service-->

    <!-- Section -->
    <!-- Section -->
    <section class="md-section" style="background-color:#f7f7f7;padding:0;">
        <div class="container">
            <div class="textbox-group">
                <div class="row">
                    {% for doctor in doctor_info_list %}
                        <div class="col-md-4 col-lg-4">
                            <!-- textbox -->
                            <div class="textbox">
                                <div class="textbox__image">
                                    <a href="#">
                                        <img src="{{ doctor.image.url }}" class="doctor-img"
                                             alt="{{ doctor.title|get_language_text:request.LANGUAGE_CODE }}">
                                    </a>
                                </div>
                                <div class="textbox__body">
                                    <h2 class="textbox__title">
                                        <a href="#">{{ doctor.title|get_language_text:request.LANGUAGE_CODE }}</a>
                                    </h2>
                                    <div class="textbox__description">
                                        {{ doctor.description|get_language_text:request.LANGUAGE_CODE }}
                                    </div>
                                </div>
                            </div><!-- End / textbox -->
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </section>
    <!-- End / Section -->

    <!-- End / Section -->

    <!-- Section -->
    <section class="md-section" style="background-color:#f7f7f7;padding-top:0;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">

                    <!-- iconbox -->
                    <div class="iconbox">
                        <div class="iconbox__icon"><i class="ti-world"></i></div>
                        <div>
                            <h2 class="iconbox__title"><a href="#">Bizning ijtimoiy tarmoqlar</a></h2>
                            <div class="iconbox__description">
                                Bizni ijtimoiy tarmoqlarda kuzatib boring va eng so'nggi yangiliklardan xabardor
                                bo'ling. Bizning sahifalarimizda ko'plab foydali ma'lumotlar va xizmatlar mavjud.
                            </div>
                        </div>
                    </div><!-- End / iconbox -->

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 ">

                    <!-- iconbox -->
                    <div class="iconbox iconbox__style-02">
                        <div class="iconbox__icon"><i class="ti-facebook"></i></div>
                        <div>
                            <h2 class="iconbox__title"><a href="https://www.facebook.com" target="_blank">Facebook</a>
                            </h2>
                            <div class="iconbox__description">
                                Bizning Facebook sahifamizga obuna bo'ling va biz haqimizda eng so'nggi yangiliklardan
                                xabardor bo'ling.
                            </div>
                        </div>
                    </div><!-- End / iconbox -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 ">

                    <!-- iconbox -->
                    <div class="iconbox iconbox__style-02">
                        <div class="iconbox__icon"><i class="ti-twitter"></i></div>
                        <div>
                            <h2 class="iconbox__title"><a href="https://www.twitter.com" target="_blank">Twitter</a>
                            </h2>
                            <div class="iconbox__description">
                                Bizning Twitter akkauntimiz orqali tezkor ma'lumotlarni oling va biz bilan aloqada
                                bo'ling.
                            </div>
                        </div>
                    </div><!-- End / iconbox -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 ">

                    <!-- iconbox -->
                    <div class="iconbox iconbox__style-02">
                        <div class="iconbox__icon"><i class="ti-instagram"></i></div>
                        <div>
                            <h2 class="iconbox__title"><a href="https://www.instagram.com" target="_blank">Instagram</a>
                            </h2>
                            <div class="iconbox__description">
                                Instagram sahifamizda bizning yangiliklar, xizmatlar va loyihalarimiz haqida bilib
                                oling.
                            </div>
                        </div>
                    </div><!-- End / iconbox -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 ">

                    <!-- iconbox -->
                    <div class="iconbox iconbox__style-02">
                        <div class="iconbox__icon"><i class="ti-linkedin"></i></div>
                        <div>
                            <h2 class="iconbox__title"><a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
                            </h2>
                            <div class="iconbox__description">
                                LinkedIn profilimizda jamoamizning professional faoliyati va hamkorlik imkoniyatlari
                                haqida bilib oling.
                            </div>
                        </div>
                    </div><!-- End / iconbox -->

                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->

    <!-- End / Section -->

    <!-- About-->


    <!-- What’s Client Say ?-->

    <!-- Hodimlar -->
    <section class="md-section" style="padding-bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2">

                    <!-- title-01 -->
                    <div class="title-01" style="margin-bottom:50px;">
                        <h2 class="title-01__title">Hodimlarimiz</h2>
                    </div><!-- End / title-01 -->

                </div>
            </div>
            <div class="consult-slide">

                <!-- carousel__element owl-carousel -->
                <div class="carousel__element owl-carousel"
                     data-options='{"loop":true,"dots":true,"nav":false,"margin":30,"responsive":{"0":{"items":1},"992":{"items":2}}}'>

                    <!-- Hodim -->
                    <div class="testimonial">
                        <div class="testimonial__info">
                            <a class="testimonial__avatar" href="#"><img
                                    src="{% static 'dashboard/img/avatars/avatar-01.jpg' %}" alt="Hodim rasmi"/></a>
                            <h5 class="testimonial__name">Abdulloh Qodirov</h5>
                            <span class="testimonial__position">Dasturiy ta'minot bo'limi rahbari</span>
                        </div>
                        <div class="testimonial__content">
                            <div class="testimonial__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Yuksak sifatli xizmatlarimiz bilan sizning biznesingizni rivojlantiramiz.
                            </div>
                        </div>
                    </div><!-- End / Hodim -->


                </div><!-- End / carousel__element owl-carousel -->

            </div>
        </div>
    </section>

    <!-- End / Hodimlar -->

    <!-- Hamkorlar-->

    <!-- Hamkorlar -->
    <section class="md-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2">

                    <!-- title-01 -->
                    <div class="title-01">
                        <h2 class="title-01__title">Bizning hamkorlar</h2>
                    </div><!-- End / title-01 -->

                </div>
            </div>

            <!-- carousel__element owl-carousel -->
            <div class="carousel__element owl-carousel"
                 data-options='{"loop":true,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":2},"768":{"items":3},"992":{"items":5}}}'>

                <!-- Hamkor -->
                <div>
                    <div class="brand-01__image">
                        <img src="{% static 'dashboard/img/brands/1.png' %}" alt="Hamkor 1"/>
                    </div>
                </div><!-- End / Hamkor -->

                <!-- Hamkor -->
                <div>
                    <div class="brand-01__image">
                        <img src="{% static 'dashboard/img/brands/2.png' %}" alt="Hamkor 2"/>
                    </div>
                </div><!-- End / Hamkor -->

                <!-- Hamkor -->
                <div>
                    <div class="brand-01__image">
                        <img src="{% static 'dashboard/img/brands/3.png' %}" alt="Hamkor 3"/>
                    </div>
                </div><!-- End / Hamkor -->

                <!-- Hamkor -->
                <div>
                    <div class="brand-01__image">
                        <img src="{% static 'dashboard/img/brands/4.png' %}" alt="Hamkor 4"/>
                    </div>
                </div><!-- End / Hamkor -->

                <!-- Hamkor -->
                <div>
                    <div class="brand-01__image">
                        <img src="{% static 'dashboard/img/brands/5.png' %}" alt="Hamkor 5"/>
                    </div>
                </div><!-- End / Hamkor -->

            </div><!-- End / carousel__element owl-carousel -->

        </div>
    </section>

    <!-- End / Hamkorlar -->

    <!-- Oxirgi yangiliklar -->

    <!-- yangiliklar -->
    <section class="md-section consult-background">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2">

                    <!-- title-01 -->
                    <div class="title-01">
                        <h2 class="title-01__title">Oxirgi yangiliklar</h2>
                    </div><!-- End / title-01 -->

                </div>
            </div>


            <!-- Yangiliklar Carousel -->
            <div class="carousel__element owl-carousel"
                 data-options='{"loop":false,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>

                {% for news in latest_news %}
                    <div>
                        <div class="post-01__media">
                            <a href="#">
                                {% if news.image %}
                                    <img src="{{ news.image.url }}"
                                         alt="{{ news.title|get_language_text:CURRENT_LANGUAGE }}"/>
                                {% else %}
                                    <img src="{% static 'dashboard/img/default-news.jpg' %}" alt="No Image"/>
                                {% endif %}
                            </a>
                        </div>
                        <div>
                            <ul class="post-01__categories">
                                <li><a href="#">Yangilik</a></li>
                            </ul>
                            <h2 class="post-01__title">
                                <a href="#">{{ news.title|get_language_text:CURRENT_LANGUAGE }}</a>
                            </h2>
                            <div class="post-01__time">
                                {{ news.published_date|date:"d-m-Y" }}
                            </div>
                            <div class="post-01__note">
                                Muallif: {{ news.author.get_full_name|default:"Noma'lum" }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div><!-- End / carousel__element owl-carousel -->


        </div>
    </section>

    <!-- End / yangiliklar -->

    <!-- Testimonial End -->
{% endblock content %}



{% block script %}
{% endblock script %}