{% extends 'dashboard.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Asosiy sahifa
{% endblock title %}
{% block style %}

    <style>
        .flag-icon {
            width: 20px;
            height: 15px;
            margin-right: 5px;
            object-fit: contain;
        }
    </style>
{% endblock style %}


{% block content %}
    <div class="hero-banner style-1"
         style="background-image: url({% static 'dashboard/images/hero-banner/bg1.webp' %}); background-size: cover;">
        <div class="container">
            <div class="inner-wrapper">
                <span class="text-vertical text-secondary">24/7 Shoshilinch Xizmat</span>
                <div class="row align-items-end h-100">
                    <div class="col-lg-6 align-self-center">
                        <div class="hero-content">
                            <h1 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                                <span class="text-danger">{{ site_settings.site_name }}</span> KLINIKASI
                                <img src="{% static 'dashboard/images/hero-banner/line.png' %}" alt="">
                            </h1>
                            <p class="text wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                                Sog‘lig‘ingiz – bizning ustuvor maqsadimiz.
                                Malakali shifokorlarimiz bilan bog‘laning va bugunoq qabulga yoziling!
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.8s" data-wow-duration="0.8s">
                        <div class="hero-thumbnail" data-bottom-top="transform: translateY(-50px)"
                             data-top-bottom="transform: translateY(50px)">
                            <img class="thumbnail" src="{% static 'dashboard/images/hero-banner/img1.webp' %}"
                                 alt="">
                            <div class="circle-wrapper">
                                <span class="circle1"></span>
                                <span class="circle2"></span>
                                <span class="circle3"></span>

                                <div class="item1">
                                    <img src="{% static 'dashboard/images/hero-banner/heart.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item5" data-bottom-top="transform: translateY(-30px)"
                     data-top-bottom="transform: translateY(30px)">
                    <div class="info-widget style-4 move-4">
                        <div class="widget-media">
                            <img src="{% static 'dashboard/images/avatar/small/avatar6.webp' %}" alt="">
                        </div>
                        <div class="widget-content">
                            <h6 class="title">Savol va murojaatlar?</h6>
                            <a href="mailto:{{ site_settings.contact_email }}">{{ site_settings.contact_email }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="content-inner-3 bg-secondary background-blend-multiply bg-img-fix"
             style="background-image: url({% static 'dashboard/images/background/bg2.webp' %}); background-repeat: no-repeat; background-position: right center; background-size: cover;">
        <div class="container">
            <div class="row align-items-sm-center">
                <div class="col-lg-3 col-12 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                    <h2 class="text-white font-20 m-b0 fw-medium">Bizning yutuqlarimiz</h2>
                </div>
                <div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                    <div class="content-bx style-1 mx-auto">
                        <span class="content-text text-white"><span class="counter">200</span>+</span>
                        <h3 class="title text-white m-b0">Tajribali Shifokorlar</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                    <div class="content-bx style-1 mx-auto">
                        <span class="content-text text-white"><span class="counter">45</span>K</span>
                        <h3 class="title text-white m-b0">Mamnun Bemorlar</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
                    <div class="content-bx style-1 mx-auto">
                        <span class="content-text text-white"><span class="counter">150</span>+</span>
                        <h3 class="title text-white m-b0">Mukofotlar</h3>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="content-inner-2 bg-light z-2"
             style="background-image: url({% static 'dashboard/images/background/bg5.png' %});">
        <div class="container">
            <div class="row align-items-end content-wrapper style-8">
                <div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                    <img src="{% static 'dashboard/images/about/img3.png' %}" alt="/">
                </div>
                <div class="col-lg-6" data-bottom-top="transform: translateY(100px)"
                     data-top-bottom="transform: translateY(-10px)">
                    <div class="form-wrapper style-1 text-vr-wrapper">
                        <div class="text-vertical bg-danger">Hozir Ro‘yxatdan O‘ting</div>
                        <div class="form-body bg-secondary background-blend-burn"
                             style="background-image: url({% static 'dashboard/images/background/bg2.png' %}); background-size: cover">
                            <div class="title-head">
                                <h2 class="form-title m-b0">Tibbiy <span class="text-danger">Ko‘rik</span> <br> Uchun
                                    Ariza Topshiring</h2>
                            </div>
                            <form action="" method="POST" class="dzForm">
                                {% csrf_token %}
                                <input type="hidden" class="form-control" name="dzToDo" value="Appointment">
                                <input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
                                <div class="dzFormMsg"></div>
                                <div class="row">
                                    <div class="col-sm-6 m-b30">
                                        <div class="form-floating floating-underline input-light">
                                            <input name="name" type="text" class="form-control" id="inputYourName"
                                                   placeholder="Ismingiz" required>
                                            <label for="inputYourName">Ismingiz</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 m-b30">
                                        <div class="form-floating floating-underline input-light">
                                            <input name="email" type="email" class="form-control" id="inputYourEmail"
                                                   placeholder="Email Manzilingiz" required>
                                            <label for="inputYourEmail">Email Manzilingiz</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 m-b30">
                                        <div class="form-floating floating-underline input-light">
                                            <input name="phone" type="text" class="form-control dz-number"
                                                   id="inputPhoneNumber" placeholder="Telefon Raqamingiz" required>
                                            <label for="inputPhoneNumber">Telefon Raqamingiz</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 m-b30">
                                        <div class="form-floating floating-underline input-dark">
                                            <select name="service" class="bs-select form-control"
                                                    title="Xizmatni Tanlang" required>
                                                <option value="" disabled selected>Xizmatni tanlang</option>
                                                <option value="Angioplasty">Angioplastika</option>
                                                <option value="Cardiology">Kardiologiya</option>
                                                <option value="Dental">Stomatologiya</option>
                                                <option value="Eye Care">Ko‘z Davolash</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 m-b30">
                                        <div class="form-floating floating-underline input-light">
                                            <textarea name="message" class="form-control" id="inputMessage" rows="6"
                                                      placeholder="Xabar yozing" required></textarea>
                                            <label for="inputMessage">Xabar</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" name="submit" value="submit"
                                                class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow">
                                            Ariza Yuborish <span class="right-icon"><i
                                                class="feather icon-arrow-right"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-inner">
        <div class="container">
            <div class="section-head style-1 m-b30 row align-items-end">
                <div class="col-sm-7 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                    <h2 class="title m-b0">Malakali hodimlar</h2>
                </div>
                <div class="col-sm-5 text-sm-end d-sm-block d-none wow fadeInUp" data-wow-delay="0.4s"
                     data-wow-duration="0.8s">
                    <a href="" class="btn btn-icon btn-secondary btn-shadow">
                        Barchasini Ko‘rish
                        <span class="right-icon"><i class="feather icon-arrow-right"></i></span>
                    </a>
                </div>
            </div>

            <div class="row">
                {% for employee in employees %}
                    <div class="col-xl-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                        <div class="dz-team style-1 active box-hover">
                            <div class="dz-media">
                                <img src="{{ employee.profile_picture.url }}" alt="{{ employee.full_name }}"
                                     onerror="this.src='{% static 'dashboard/images/team/img1.webp' %}'">
                                <a href="" class="btn btn-primary">
                                    <i class="feather icon-calendar m-r5"></i>
                                    Qabuliga yozilish
                                </a>
                            </div>
                            <div class="dz-content">
                                <div class="clearfix">
                                    <h3 class="dz-name"><a
                                            href="">{{ employee.full_name }}</a>
                                    </h3>
                                    <span class="dz-position">{{ employee.job_title }}</span>
                                </div>
                                <a href="" class="btn btn-square btn-secondary">
                                    <i class="feather icon-arrow-right"></i>
                                </a>
                            </div>
                            <ul class="dz-social">
                                {% if employee.phone_number %}
                                    <li>
                                        <p>{{ employee.phone_number }}</p>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% empty %}
                    <p>Hozircha hech qanday xodim mavjud emas.</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="content-inner-1 bg-light overflow-hidden">
        <div class="container-left">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-3">
                    <div class="section-head style-1 m-b30">
                        <h2 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Hamkorlarimiz</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                            Bizning ishonchli hamkorlarimiz bilan birgalikda yuqori sifatli xizmatlarni taqdim etamiz.
                        </p>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary btn-rounded m-r5 m-b10 wow fadeInUp"
                       data-wow-delay="0.5s" data-wow-duration="0.8s">2024</a>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary btn-rounded m-r5 m-b10 wow fadeInUp"
                       data-wow-delay="0.6s" data-wow-duration="0.8s">2023</a>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary btn-rounded m-r5 m-b10 wow fadeInUp"
                       data-wow-delay="0.7s" data-wow-duration="0.8s">2022</a>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary btn-rounded m-r5 m-b10 wow fadeInUp"
                       data-wow-delay="0.8s" data-wow-duration="0.8s">2021</a>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary btn-rounded m-r5 m-b10 wow fadeInUp"
                       data-wow-delay="0.9s" data-wow-duration="0.8s">2020</a>
                    <a href="javascript:void(0);" class="btn btn-outline-secondary btn-rounded m-r5 m-b10 wow fadeInUp"
                       data-wow-delay="1.0s" data-wow-duration="0.8s">2019</a>

                </div>
                <div class="col-xxl-9">
                    <div class="swiper awards-swiper wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="dz-img-box style-1 box-lg grid-bx text-center">
                                    <div class="dz-media">
                                        <img src="{% static 'dashboard/images/logo/logo1.png' %}" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <h3 class="title">ClinicMaster 2024</h3>
                                        <p>Quality and Accreditation Institute</p>
                                        <a href="javascript:void(0);" class="btn-link">Save the Childern</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dz-img-box style-1 box-lg grid-bx text-center">
                                    <div class="dz-media">
                                        <img src="{% static 'dashboard/images/logo/logo2.png' %}" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <h3 class="title">ClinicMaster 2024</h3>
                                        <p>Quality and Accreditation Institute</p>
                                        <a href="javascript:void(0);" class="btn-link">Save the Childern</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dz-img-box style-1 box-lg grid-bx text-center">
                                    <div class="dz-media">
                                        <img src="{% static 'dashboard/images/logo/logo3.png' %}" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <h3 class="title">ClinicMaster 2024</h3>
                                        <p>Quality and Accreditation Institute</p>
                                        <a href="javascript:void(0);" class="btn-link">Save the Childern</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dz-img-box style-1 box-lg grid-bx text-center">
                                    <div class="dz-media">
                                        <img src="{% static 'dashboard/images/logo/logo1.png' %}" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <h3 class="title">ClinicMaster 2024</h3>
                                        <p>Quality and Accreditation Institute</p>
                                        <a href="javascript:void(0);" class="btn-link">Save the Childern</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dz-img-box style-1 box-lg grid-bx text-center">
                                    <div class="dz-media">
                                        <img src="{% static 'dashboard/images/logo/logo2.png' %}" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <h3 class="title">ClinicMaster 2024</h3>
                                        <p>Quality and Accreditation Institute</p>
                                        <a href="javascript:void(0);" class="btn-link">Save the Childern</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dz-img-box style-1 box-lg grid-bx text-center">
                                    <div class="dz-media">
                                        <img src="{% static 'dashboard/images/logo/logo3.png' %}" alt="">
                                    </div>
                                    <div class="dz-content">
                                        <h3 class="title">ClinicMaster 2024</h3>
                                        <p>Quality and Accreditation Institute</p>
                                        <a href="javascript:void(0);" class="btn-link">Save the Childern</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-inner-1">
        <div class="container">
            <div class="section-head style-1 m-b30 row align-items-end">
                <div class="col-lg-7 col-md-8 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                    <h2 class="title m-b0">Yangiliklar <br> Oxirgi yangiliklar</h2>
                </div>
                <div class="col-lg-5 col-md-4 text-md-end d-none d-md-block wow fadeInUp" data-wow-delay="0.4s"
                     data-wow-duration="0.8s">
                    <a href="blog-grid.html" class="btn btn-icon btn-secondary btn-shadow">
                        Barchasini ko'rish
                        <span class="right-icon"><i class="feather icon-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="row g-20">
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                    <div class="dz-card style-2 dz-card-overlay overlay-none"
                         style="background-image: url({% static 'dashboard/images/blog/overlay/img1.webp' %} );">
                        <div class=" dz-info
                ">
                            <div class="content-half">
                                <div class="post-date">12 Jan 2024</div>
                                <h3 class="dz-title">
                                    <a href="blog-details.html">The Art of Managing Business and Patient Care</a>
                                </h3>
                            </div>
                            <div class="bottom-info">
                                <a href="blog-details.html" class="btn btn-icon btn-lg btn-secondary btn-shadow">
                                    Ko'proq
                                    <span class="right-icon"><i class="feather icon-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-8 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                    <div class="dz-card style-2 dz-card-overlay"
                         style="background-image: url({% static 'dashboard/images/blog/overlay/large/img1.webp' %});">
                        <div class=" dz-info">
                            <div class="post-date">12 Jan 2024</div>
                            <div class="bottom-info">
                                <h3 class="dz-title">
                                    <a href="blog-details.html">The Art of Managing Business and Patient Care</a>
                                </h3>
                                <a href="blog-details.html" class="btn btn-square btn-white rounded-circle">
                                    <i class="feather icon-arrow-up-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-12">
                    <div class="row g-20">
                        <div class="col-xl-12 col-md-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                            <div class="dz-card style-2 dz-card-overlay card-sm no-image">
                                <div class="dz-info">
                                    <div class="post-date">12 Jan 2024</div>
                                    <h3 class="dz-title">
                                        <a href="blog-details.html">Strategies for Balancing Business Demands with
                                            Optimal</a>
                                    </h3>
                                    <div class="bottom-info ms-auto">
                                        <a href="blog-details.html" class="btn btn-square btn-white rounded-circle">
                                            <i class="feather icon-arrow-up-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
                            <div class="dz-card style-2 dz-card-overlay card-sm"
                                 style="background-image: url({% static 'dashboard/images/blog/overlay/small/img1.webp' %});">
                                <div class=" dz-info
                ">
                                    <div class="post-date">12 Jan 2024</div>
                                    <div class="bottom-info">
                                        <h3 class="dz-title">
                                            <a href="blog-details.html">Effective Healthcare Tips</a>
                                        </h3>
                                        <a href="blog-details.html" class="btn btn-square btn-white rounded-circle">
                                            <i class="feather icon-arrow-up-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-wrapper style-4">
        <div class="container">
            <div class="map-wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.472878512315!2d71.57892527635666!3d40.99803177139225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb4ef520c03a23%3A0x70fecc9518980de2!2sBoburshox%20ko%E2%80%98chasi%2C%20Namangan%2C%20Uzbekistan!5e0!3m2!1sen!2suz!4v1719221707984!5m2!1sen!2suz"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6 col-sm-8">
                    <div class="content-info bg-danger">
                        <div class="section-head style-1 wow fadeInUp" data-wow-delay="0.2s"
                             data-wow-duration="0.8s">
                            <h2 class="title m-b0 text-white">Biz bilan bog‘laning</h2>
                            <p class="text-white">Savollaringiz bo'lsa, biz bilan bog‘laning</p>
                        </div>
                        <div class="icon-bx-wraper style-1 m-b20 wow fadeInUp" data-wow-delay="0.4s"
                             data-wow-duration="0.8s">
                            <div class="icon-bx">
						<span class="icon-cell">
							<i class="feather icon-map-pin text-secondary"></i>
						</span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Manzil</h5>
                                <p class="text-white">{{ site_settings.address }}</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper style-1 m-b20 wow fadeInUp " data-wow-delay="0.6s"
                             data-wow-duration="0.8s">
                            <div class="icon-bx">
						<span class="icon-cell">
							<i class="feather icon-phone text-secondary"></i>
						</span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Bizga qo‘ng‘iroq qiling</h5>
                                <p><a href="tel:{{ site_settings.contact_phone }}"
                                      class="text-white">{{ site_settings.contact_phone }}</a></p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper style-1 m-b20 wow fadeInUp" data-wow-delay="0.8s"
                             data-wow-duration="0.8s">
                            <div class="icon-bx">
						<span class="icon-cell">
							<i class="feather icon-mail text-secondary"></i>
						</span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Bizga xat yuboring</h5>
                                <p><a href="mailto:{{ site_settings.contact_email }}"
                                      class="text-white">{{ site_settings.contact_email }}</a>
                                </p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper style-1 m-b20 wow fadeInUp" data-wow-delay="1.0s"
                             data-wow-duration="0.8s">
                            <div class="icon-bx">
						<span class="icon-cell">
							<i class="feather icon-clock text-secondary"></i>
						</span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Ish vaqti</h5>
                                <p class="text-white">{{ site_settings.working_hours }}</p>
                            </div>
                        </div>
                        <a href="appointment.html"
                           class="btn btn-lg btn-icon btn-secondary w-100 m-t20 btn-shadow wow fadeInUp"
                           data-wow-delay="1.2s"
                           data-wow-duration="0.8s">
                            <span class="w-100">Qabulga yozilish</span>
                            <span class="right-icon"><i class="feather icon-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Testimonial End -->
{% endblock content %}



{% block script %}





{% endblock script %}