{% load static %}

<aside class="side-mini-panel with-vertical">
        <!-- ---------------------------------- -->
        <!-- Start Vertical Layout Sidebar -->
        <!-- ---------------------------------- -->
        <div class="iconbar">
            <div>
                <div class="mini-nav">
                    <div class="brand-logo d-flex align-items-center justify-content-center">
                        <a class="nav-link sidebartoggler" id="headerCollapse" href="javascript:void(0)">
                            <iconify-icon icon="solar:hamburger-menu-line-duotone" class="fs-7"></iconify-icon>
                        </a>
                    </div>
                    <ul class="mini-nav-ul" data-simplebar>

                        <!-- --------------------------------------------------------------------------------------------------------- -->
                        <!-- Sayt sozlamalari -->
                        <!-- --------------------------------------------------------------------------------------------------------- -->
                        <li class="mini-nav-item" id="mini-1">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                               data-bs-placement="right" data-bs-title="Sayt sozlamalari">
                                <iconify-icon icon="solar:settings-line-duotone" class="fs-7"></iconify-icon>
                            </a>
                        </li>

                        <!-- --------------------------------------------------------------------------------------------------------- -->
                        <!-- Administrator -->
                        <!-- --------------------------------------------------------------------------------------------------------- -->
                        <li class="mini-nav-item" id="mini-3">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                               data-bs-placement="right" data-bs-title="Administrator">
                                <iconify-icon icon="solar:user-id-line-duotone" class="fs-7"></iconify-icon>
                            </a>
                        </li>

                        <li>
                            <span class="sidebar-divider lg"></span>
                        </li>
                        <!-- --------------------------------------------------------------------------------------------------------- -->
                        <!-- Havfsizlik -->
                        <!-- --------------------------------------------------------------------------------------------------------- -->
                        <li class="mini-nav-item" id="mini-9">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                               data-bs-placement="right" data-bs-title="Havfsizlik">
                                <iconify-icon icon="solar:shield-keyhole-line-duotone" class="fs-7"></iconify-icon>
                            </a>
                        </li>

                        <!-- --------------------------------------------------------------------------------------------------------- -->
                        <!-- Landing sahifa -->
                        <!-- --------------------------------------------------------------------------------------------------------- -->
                        <li class="mini-nav-item" id="mini-10">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                               data-bs-placement="right" data-bs-title="Landing sahifa">
                                <iconify-icon icon="solar:airbuds-case-line-duotone" class="fs-7"></iconify-icon>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="sidebarmenu">
                    <div class="brand-logo d-flex align-items-center nav-logo">
                        <a href="../main/index.html" class="text-nowrap logo-img">
                            <img src="{% static 'images/logos/logo.svg' %}" alt="Logo"/>
                        </a>

                    </div>
                    <!-- ---------------------------------- -->
                    <!-- Sayt sozlamalari -->
                    <!-- ---------------------------------- -->
                    <nav class="sidebar-nav" id="menu-right-mini-1" data-simplebar>
                        <ul class="sidebar-menu" id="sidebarnav">
                            <!-- ---------------------------------- -->
                            <!-- Sayt sozlamalari -->
                            <!-- ---------------------------------- -->
                            <li class="nav-small-cap">
                                <span class="hide-menu">Sayt sozlamalari</span>
                            </li>
                            <!-- ---------------------------------- -->
                            <!-- Sozlamalar -->
                            <!-- ---------------------------------- -->
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="" id="get-url" aria-expanded="false">
                                    <iconify-icon icon="mdi:cog-outline"></iconify-icon>
                                    <span class="hide-menu">Sozlamalar</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{% url 'page-banner' %}" aria-expanded="false">
                                    <iconify-icon icon="mdi:image-multiple-outline"></iconify-icon>
                                    <span class="hide-menu">Asosiy rasmlar</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{% url 'doctor-info' %}" aria-expanded="false">
                                    <iconify-icon icon="mdi:doctor"></iconify-icon>
                                    <span class="hide-menu">Doctorlar haqida</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{% url 'contact-phone' %}" aria-expanded="false">
                                    <iconify-icon icon="mdi:phone-outline"></iconify-icon>
                                    <span class="hide-menu">Aloqa telefonlari</span>
                                </a>
                            </li>

                            <li>
                                <span class="sidebar-divider"></span>
                            </li>
                        </ul>
                    </nav>

                    <!-- ---------------------------------- -->
                    <!-- Administrator -->
                    <!-- ---------------------------------- -->
                    <nav class="sidebar-nav scroll-sidebar" id="menu-right-mini-3" data-simplebar>
                        <ul class="sidebar-menu" id="sidebarnav">
                            <!-- ---------------------------------- -->
                            <!-- Yangiliklar va e'lonlar -->
                            <!-- ---------------------------------- -->
                            <li class="nav-small-cap">
                                <span class="hide-menu">Yangiliklar va e'lonlar</span>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'news-view' %}" class="sidebar-link">
                                    <iconify-icon icon="mdi:newspaper-variant-outline"></iconify-icon>
                                    <span class="hide-menu">Yangiliklar</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'add-news-view' %}" class="sidebar-link">
                                    <iconify-icon icon="mdi:newspaper-variant-outline"></iconify-icon>
                                    <span class="hide-menu">Yangilik qo'shish</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="../main/pages-animation.html" class="sidebar-link">
                                    <iconify-icon icon="mdi:bullhorn-outline"></iconify-icon>
                                    <span class="hide-menu">E'lonlar</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="../main/pages-search-result.html" class="sidebar-link">
                                    <iconify-icon icon="mdi:handshake-outline"></iconify-icon>
                                    <span class="hide-menu">Hamkorlar</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <!-- ---------------------------------- -->
                    <!-- Havfsizlik -->
                    <!-- ---------------------------------- -->
                    <nav class="sidebar-nav scroll-sidebar" id="menu-right-mini-9" data-simplebar>
                        <ul class="sidebar-menu" id="sidebarnav">
                            <!-- ---------------------------------- -->
                            <!-- Havfsizlik -->
                            <!-- ---------------------------------- -->
                            <li class="nav-small-cap">
                                <span class="hide-menu">Havfsizlik</span>
                            </li>
                            <!-- ---------------------------------- -->
                            <!-- Dashboard -->
                            <!-- ---------------------------------- -->
                            <li class="sidebar-item">
                                <a href="{% url 'users-view' %}" class="sidebar-link">
                                    <iconify-icon icon="mdi:account-group-outline"></iconify-icon>
                                    <span class="hide-menu">Foydalanuvchilar</span>
                                </a>
                            </li>
                            <li class="sidebar-item d-none">
                                <a href="{% url 'add-users-view' %}" class="sidebar-link">
                                    <iconify-icon icon="mdi:account-group-outline"></iconify-icon>
                                    <span class="hide-menu">Foydalanuvchi qo'shish</span>
                                </a>
                            </li>
                            <li class="sidebar-item d-none">
                                <a href="{% url 'news-detail' %}" class="sidebar-link">
                                    <iconify-icon icon="mdi:account-group-outline"></iconify-icon>
                                    <span class="hide-menu">Yangilik haqida</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'roles-view' %}" class="sidebar-link">
                                    <iconify-icon icon="mdi:shield-account-outline"></iconify-icon>
                                    <span class="hide-menu">Rollar</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'logs-view' %}" class="sidebar-link">
                                    <iconify-icon icon="mdi:file-document-outline"></iconify-icon>
                                    <span class="hide-menu">Loglar</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <!-- ---------------------------------- -->
                    <!-- Landing sahifa -->
                    <!-- ---------------------------------- -->
                    <nav class="sidebar-nav scroll-sidebar" id="menu-right-mini-10" data-simplebar>
                        <ul class="sidebar-menu" id="sidebarnav">
                            <li class="nav-small-cap">
                                <span class="hide-menu">Landing sahifa</span>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'main-dashboard' %}" class="sidebar-link">
                                    <iconify-icon icon="mdi:arrow-left-circle-outline"></iconify-icon>
                                    <span class="hide-menu">Sahifaga qaytish</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </aside>