{% load static %}

<!-- Required jQuery first, then Bootstrap Bundle JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<!-- *************
  ************ Vendor Js Files *************
  ************* -->
<!-- Overlay Scroll JS -->
<script src="{% static 'vendor/overlay-scroll/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'vendor/overlay-scroll/custom-scrollbar.js' %}"></script>
<!-- Custom JS files -->
<script src="{% static 'js/custom.js' %}"></script>
