{% load static %}
<footer class="footer">
    <div class="footer__main">
        <div class="row row-eq-height">
            <!-- Logo and Description -->
            <div class="col-8 col-sm-7 col-md-9 col-lg-3">
                <div class="footer__item">
                    <a class="consult_logo" href="#">
                        <img src="{% static 'img/logo.png' %}" alt="Doctor A Logo" />
                    </a>
                    <p>Doctor A - sog'liqni saqlash va tibbiy xizmatlar bo'yicha innovatsion yechimlar.</p>
                </div>
            </div>

            <!-- Useful Links -->
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1">
                <div class="footer__item">
                    <section class="widget-text__widget widget">
                        <h4 style="color: red;">Foydali havolalar</h4>
                        <div class="widget-text__content">
                            <ul>
                                <li><a href="#">Xizmat shartlari</a></li>
                                <li><a href="#">Maxfiylik siyosati</a></li>
                                <li><a href="#">Sayt xaritasi</a></li>
                                <li><a href="#">Yordam</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Additional Links -->
            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
                <div class="footer__item">
                    <section class="widget-text__widget widget">
                        <h4 class="text-bg-danger" style="color: red;"> Qo'shimcha</h4>
                        <div class="widget-text__content">
                            <ul>
                                <li><a href="#">Qanday ishlaydi</a></li>
                                <li><a href="#">Karyera</a></li>
                                <li><a href="#">Narxlar</a></li>
                                <li><a href="#">Qo'llab-quvvatlash</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Newsletter Form -->
            <div class="col-md-4 col-lg-2 col-xl-2">
                <div class="footer__item">
                    <div class="form-sub">
                        <h4 class="form-sub__title">Bizning yangiliklar</h4>
                        <form class="form-sub__form">
                            <div class="form-item">
                                <input class="form-control" type="email" placeholder="Email manzilingizni kiriting..." />
                            </div>
                            <div class="form-submit">
                                <button class="form-button" type="submit">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Back to Top -->
            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 consult_backToTop">
                <div class="footer__item">
                    <a href="#" id="back-to-top">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                        <span>Yuqoriga qaytish</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Copyright -->
    <div class="footer__copyright">
        <p>2025 &copy; Doctor A. Barcha huquqlar himoyalangan.</p>
        <p>Dasturchi: <strong>Izzatbek Ulkanov</strong></p>
    </div>
</footer>
