{% load static %}


<footer class="site-footer style-1 overlay-primary-light"
        style="background-image: url({% static 'dashboard/images/background/bg4.webp' %})">
    <div class="footer-head">
        <div class="container">
            <div class="fh-inner">
                <div class="row g-3 align-items-center">
                    <div class="col-xl-3 col-md-12 col-sm-6">
                        <h3 class="title">Biz bilan bog‘laning</h3>
                        <p class="text">Sizning sog‘lig‘ingiz biz uchun muhim. Har qanday savollaringiz bo‘lsa, bizga murojaat qiling.</p>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="icon-bx-wraper style-1">
                            <div class="icon-bx bg-secondary">
                                <span class="icon-cell">
                                    <i class="feather icon-phone"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Telefon</h5>
                                <p><a href="tel:+998901234567" class="text-body">+998 90 123 45 67</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="icon-bx-wraper style-1">
                            <div class="icon-bx bg-secondary">
                                <span class="icon-cell">
                                    <i class="feather icon-mail"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Email</h5>
                                <p><a href="mailto:info@doctor.uz" class="text-body">info@doctor.uz</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="icon-bx-wraper style-1">
                            <div class="icon-bx bg-secondary">
                                <span class="icon-cell">
                                    <i class="feather icon-clock"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Ish vaqti</h5>
                                <p>D-Sh: 08:00 - 20:00</p>
                                <p>Yakshanba: Dam olish kuni</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="fb-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-12 text-start">
                        <p class="copyright-text">© <span class="current-year">2024</span> <a href="https://doctor.uz" target="_blank">Doctor.uz</a> Barcha huquqlar himoyalangan.</p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-end">
                        <div class="social-icons">
                            <a href="https://facebook.com/doctoruz" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://instagram.com/doctoruz" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://telegram.me/doctoruz" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
