{% load static %}
{% load i18n %}

<header class="site-header header style-1">
    <div class="row">
        <div class="alert alert-warning text-center" role="alert">
            {% trans "Sayt test rejimida ishlamoqda 🚧" %}
        </div>
    </div>
    <div class="header-info-bar d-none d-xxl-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="icon-bx-wraper style-5">
                        <div class="icon-bx">
                            <span class="icon-cell">
                                <img src="{% static 'dashboard/images/svg/icon1.svg' %}" alt="">
                            </span>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title text-secondary">{% trans "Biz bilan bog‘laning" %}</h2>
                            <p><a href="tel:+11234567890" class="text-danger">{{ site_settings.contact_phone }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="icon-bx-wraper style-5">
                        <div class="icon-bx">
                            <span class="icon-cell">
                                <img src="{% static 'dashboard/images/svg/icon2.svg' %}" alt="">
                            </span>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title text-secondary">{% trans "Email qo‘llab-quvvatlash" %}</h2>
                            <p><a href="mailto:doctoramedclinik2025@gmail.com" class="text-danger">{{ site_settings.contact_email }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="icon-bx-wraper style-5">
                        <div class="icon-bx">
                            <span class="icon-cell">
                                <img src="{% static 'dashboard/images/svg/icon4.svg' %}" alt="">
                            </span>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title text-secondary">{% trans "MRT MCKT Rengten" %}</h2>
                            <p class="text-danger">{% trans "24/7 xizmat" %}</p>
                        </div>
                    </div>
                </div>
                <!-- Ijtimoiy tarmoqlar -->
                <div class="col d-flex align-items-center gap-2">
                    <a href="{{ site_settings.facebook_url }}" target="_blank">
                        <i class="fa-brands fa-facebook fs-1 text-primary"></i> <!-- Ko'k Facebook -->
                    </a>
                    <a href="{{ site_settings.telegram_url }}" target="_blank">
                        <i class="fa-brands fa-telegram fs-1 text-info"></i> <!-- Havorang Telegram -->
                    </a>
                    <a href="{{ site_settings.instagram_url }}" target="_blank">
                        <i class="fa-brands fa-instagram fs-1 text-danger"></i> <!-- Pushti Instagram -->
                    </a>
                    <a href="{{ site_settings.youtube_url }}" target="_blank">
                        <i class="fa-brands fa-youtube fs-1 text-danger"></i> <!-- Qizil YouTube -->
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar clearfix bg-danger text-white">
            <div class="container-fluid clearfix inner-bar">

                <!-- Website Logo -->
                <div class="logo-header logo-dark">
                    <a href="{% url 'main-dashboard' %}">
                        <img src="{{ site_settings.logo_light.url }}" class="main_logo_header" alt="logo">
                    </a>
                </div>

                <!-- Nav Toggle Button -->
                <button class="w3menu-toggler navicon" type="button" data-target="#W3Menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <!-- Main Nav -->
                <div class="menu-close fade-overlay"></div>
                <div class="header-nav w3menu w3menu-end mo-left" id="W3Menu">
                    <div class="logo-header logo-dark">
                        <a href="{% url 'main-dashboard' %}">
                            <img src="{% static 'dashboard/images/logo.svg' %}" alt="">
                        </a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="{% if request.resolver_match.url_name == 'main-dashboard' %}active{% endif %}">
                            <a href="{% url 'main-dashboard' %}"><span>{% trans "Asosiy sahifa" %}</span></a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'news-dashboard' %}active{% endif %}">
                            <a href="{% url 'news-dashboard' %}"><span>{% trans "Yangiliklar" %}</span></a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'announcement-dashboard' %}active{% endif %}">
                            <a href="{% url 'announcement-dashboard' %}"><span>{% trans "E'lonlar" %}</span></a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'employee-dashboard' %}active{% endif %}">
                            <a href="{% url 'employee-dashboard' %}"><span>{% trans "Hodimlar" %}</span></a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'videos-dashboard' %}active{% endif %}">
                            <a href="{% url 'videos-dashboard' %}"><span>{% trans "Videolar" %}</span></a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'equipment_list' %}active{% endif %}">
                            <a href="{% url 'equipment_list' %}"><span>{% trans "Qurilmalar" %}</span></a>
                        </li>
                        <li class="sub-menu-down">
                            <a href="javascript:void(0);"
                               style="display: flex; align-items: center; gap: 8px; padding: 5px 10px; margin-top:22px; border: 2px solid #ccc; border-radius: 5px; background: #f8f9fa; color: #333; font-weight: bold;">
                                <img src="{% static 'fonts/flag-icon-css/flags/' %}{{ CURRENT_LANGUAGE }}.svg"
                                     alt="{{ CURRENT_LANGUAGE }}" class="flag-icon"
                                     style="width: 20px; height: 15px; border-radius: 2px;">
                                <span>
                                    {% for code, name in LANGUAGES %}
                                        {% if code == CURRENT_LANGUAGE %}
                                            {{ name }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <i class="fas fa-chevron-down" style="margin-left: auto; color: #555;"></i>
                            </a>
                            <ul class="sub-menu">
                                {% for code, name in LANGUAGES %}
                                    <li>
                                        <a href="javascript:void(0);" onclick="changeLanguage('{{ code }}')"
                                           class="{% if code == CURRENT_LANGUAGE %}active{% endif %} border-bottom">
                                            <img src="{% static 'fonts/flag-icon-css/flags/' %}{{ code }}.svg"
                                                 alt="{{ name }}" class="flag-icon">
                                            {{ name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- EXTRA NAV -->
                <div class="extra-nav">
                    <div class="extra-cell">
                        <ul class="header-right">
                            <li class="nav-item">
                                <a href="{% url 'admin-index' %}"
                                   class="btn btn-secondary btn-hover1 d-flex align-items-center">
                                    <i class="fas fa-chevron-right text-white fs-6"></i> <!-- Kichik ikon -->
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Main Header End -->
</header>

<script>
    function changeLanguage(langCode) {
        fetch("{% url 'set_language' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: `language=${langCode}&csrfmiddlewaretoken={{ csrf_token }}`
        }).then(response => {
            if (response.ok) {
                location.reload(); // 🔄 Sahifani qayta yuklash
            }
        }).catch(error => console.error("Language change failed:", error));
    }
</script>