<div class="dz-preloader-1" id="dzPreloader">
    <div class="preloader-inner">
        <svg class="dz_svg" width="240" height="240" viewBox="0 0 240 240">
            <circle class="dz_ring dz_ring_1" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20"
                    stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
            <circle class="dz_ring dz_ring_2" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20"
                    stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
            <circle class="dz_ring dz_ring_3" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
                    stroke-dasharray="0 440" stroke-linecap="round"></circle>
            <circle class="dz_ring dz_ring_4" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
                    stroke-dasharray="0 440" stroke-linecap="round"></circle>
        </svg>
    </div>
</div>