<!DOCTYPE html>
<html lang="en" data-theme-color="skin-1">
{% load static %}
<head>

    <!-- Title -->
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Doctor A Team">
    <meta name="robots" content="index, follow">
    <meta name="format-detection" content="telephone=no">

    <meta name="keywords"
      content="doctor a, doctor uzb, namangan banisa, namangan klinika, namangan MRT, MRT namangan, fizioterapiya, doctor a fizioterapev, doctor a shifokor, zamonaviy klinika, Namangan tibbiy xizmat, shifokor maslahatlari, sog‘liqni saqlash Namangan, onlayn qabul, shifokorga yozilish, namangan fiziaterapeya, Namangan shifokorlar, tibbiyot platformasi, doctora.uz, doctor-a.com">
    <meta name="description"
      content="Doctor A — bu Namangan shahridagi zamonaviy klinika va MRT, fizioterapiya, shifokor maslahatlari, onlayn qabul xizmatlarini taklif qiluvchi tibbiy platforma. Doctor A bilan sog‘lig‘ingiz ishonchli qo‘llarda.">

    <meta property="og:title" content="Doctor A - Shifokor va Klinikalar Uchun Tibbiy Platforma">
    <meta property="og:description"
      content="Doctor A — bu Namangan klinikasi, MRT, fizioterapiya va zamonaviy tibbiy xizmatlarni birlashtiruvchi onlayn platforma.">
    <meta property="og:image" content="https://doctor-a.com/social-image.png">

    <!-- TWITTER META -->
    <meta name="twitter:title" content="Doctor A - Shifokor va Klinikalar Uchun Tibbiy Platforma">
    <meta name="twitter:description"
      content="Doctor A — bu Namangan klinikasi, MRT, fizioterapiya va zamonaviy tibbiy xizmatlarni birlashtiruvchi onlayn platforma.">
    <meta name="twitter:image" content="https://doctor-a.com/social-image.png">
    <meta name="twitter:card" content="summary_large_image">


    <!-- CANONICAL URL -->
    <link rel="canonical" href="index.html">

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendors/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'dashboard/vendors/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'dashboard/vendors/magnific-popup/magnific-popup.min.css' %}">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">

<style>
    .DZ-bt-support-now{
        display: none;
    }

</style>
    <style>
.flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    object-fit: contain;
    vertical-align: middle;
}

.sub-menu-down a {
    display: flex;
    align-items: center;
    gap: 8px;
}
    </style>
    {% block style %}
    {% endblock style %}

</head>
<body id="bg">
<div class="page-wraper">
    <!-- Header Star -->
    {% include 'components/preloader.html' %}
    <!-- Preloader End -->

    <!-- Header Star -->
    {% include 'components/header.html' %}

    <!-- Header End -->

    <main class="page-content">
        {% block content %}
        {% endblock content %}

    </main>
</div>

<!-- Footer -->
{% include 'components/footer.html' %}
<!-- Footer End -->

<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>


<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'dashboard/js/global.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'dashboard/vendors/apexchart/apexchart.js' %}"></script>
<script src="{% static 'dashboard/js/dz.carousel.js' %}"></script>
<script src="{% static 'dashboard/js/dz.ajax.js' %}"></script>
<script src="{% static 'dashboard/js/custom.js' %}"></script>
{% block script %}
{% endblock script %}

</body>
</html>
