{% extends 'administrator/main.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Qurilmalar" %}
{% endblock title %}

{% block page_css %}


<style>

    </style>


{% endblock page_css %}
{% block content %}
<div class="app-body" style="background: linear-gradient(135deg, #f8f9fa, #e9ecef); min-height: 100vh; padding: 1.5rem;">


</div>
{% endblock content %}

{% block vendor_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock vendor_js %}
