<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}"/>

    <!-- Core Css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <title>DOCTOR A | KIRISH</title>
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <img src="{% static 'images/logos/favicon.png' %}" alt="loader" class="lds-ripple img-fluid"/>
</div>
<div id="main-wrapper">
    <div class="position-relative overflow-hidden auth-bg min-vh-100 w-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100 my-5 my-xl-0">
                <div class="col-md-9 d-flex flex-column justify-content-center">
                    <div class="card mb-0 bg-body auth-login m-auto w-100">
                        <div class="row gx-0">
                            <!-- --------------------------------- -->
                            <!-- Tizimga kirish bo‘limi -->
                            <!-- --------------------------------- -->
                            <div class="col-xl-6 border-end">
                                <div class="row justify-content-center py-4">
                                    <div class="col-lg-11">
                                        <div class="card-body">
                                            <a href="../main/index.html"
                                               class="text-nowrap logo-img d-block mb-4 w-100">
                                                <img src="{% static 'images/logos/logo-icon.svg' %}" class="dark-logo"
                                                     alt="Doctor A Logo"/>
                                            </a>
                                            <h2 class="lh-base mb-4">Shifokorlar uchun tizimga kirish</h2>
                                            <div class="position-relative text-center my-4">
                                                <p class="mb-0 fs-12 px-3 d-inline-block bg-body z-index-5 position-relative">
                                                    Elektron pochta yoki ID orqali tizimga kiring
                                                </p>
                                                <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                                            </div>
                                            <form method="post" action="{% url 'login' %}">
                                                {% csrf_token %}  <!-- CSRF token -->

                                                <!-- `next` parametri -->
                                                <input type="hidden" name="next" value="{{ request.GET.next }}">

                                                <!-- Email yoki ID -->
                                                <div class="mb-3">
                                                    <label for="userEmail" class="form-label">Email yoki ID</label>
                                                    <input type="text" class="form-control" id="userEmail"
                                                           name="email-username"
                                                           placeholder="Email yoki shaxsiy ID kiriting" required>
                                                </div>

                                                <!-- Parol -->
                                                <div class="mb-4">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <label for="userPassword" class="form-label">Parol</label>
                                                        <a class="text-primary link-dark fs-2" href="">Parolni
                                                            unutdingizmi?</a>
                                                    </div>
                                                    <input type="password" class="form-control" id="userPassword"
                                                           name="password" placeholder="Parolingizni kiriting" required>
                                                </div>

                                                <!-- Meni eslab qol -->
                                                <div class="d-flex align-items-center justify-content-between mb-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input primary" type="checkbox"
                                                               name="remember_me" id="rememberMe" checked>
                                                        <label class="form-check-label text-dark" for="rememberMe">
                                                            Meni eslab qol
                                                        </label>
                                                    </div>
                                                </div>

                                                <!-- Tizimga kirish tugmasi -->
                                                <button type="submit" class="btn btn-dark w-100 py-8 mb-4 rounded-1">
                                                    Tizimga kirish
                                                </button>

                                                <!-- Ro'yxatdan o'tish havolasi -->

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- --------------------------------- -->
                            <!-- Reklama bo‘limi -->
                            <!-- --------------------------------- -->
                            <div class="col-xl-6 d-none d-xl-block">
                                <div class="row justify-content-center align-items-start h-100">
                                    <div class="col-lg-9">
                                        <div id="auth-login" class="carousel slide auth-carousel mt-5 pt-4"
                                             data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center">
                                                        <img src="{% static 'images/backgrounds/login-side.png' %}"
                                                             alt="doctor-login" width="300" class="img-fluid"/>
                                                        <h4 class="mb-0">DOCTOR_A Klinikasi - Eng yaxshi xizmatlar</h4>
                                                        <p class="fs-12 mb-0">Tajribali shifokorlarimiz bilan sifatli
                                                            xizmat oling!</p>
                                                        <a href="../about.html" class="btn btn-primary rounded-1">Batafsil</a>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center">
                                                        <img src="{% static 'images/backgrounds/login-side.png' %}"
                                                             alt="medical-team" width="300" class="img-fluid"/>
                                                        <h4 class="mb-0">Tibbiy tekshiruvlar</h4>
                                                        <p class="fs-12 mb-0">DOCTOR_A da zamonaviy diagnostika xizmati
                                                            mavjud!</p>
                                                        <a href="../services.html" class="btn btn-primary rounded-1">Ko‘proq
                                                            bilish</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#auth-login" data-bs-slide-to="0"
                                                        class="active" aria-current="true"
                                                        aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#auth-login" data-bs-slide-to="1"
                                                        aria-label="Slide 2"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dark-transparent sidebartoggler"></div>
<!-- Import Js Files -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'js/theme/app.init.js' %}"></script>
<script src="{% static 'js/theme/theme.js' %}"></script>
<script src="{% static 'js/theme/app.min.js' %}"></script>

<!-- solar icons -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>