<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/themify-icons/themify-icons.css' %}">

  <!-- Vendors -->
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap4/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/magnific-popup/magnific-popup.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/owl.carousel/owl.carousel.css' %}">
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.min.css">

  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;subset=latin-ext">

  <!-- App Styles -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

  <![endif]-->

  {% block style %}
  {% endblock style %}
</head>

<body>
<div class="page-wrap">

  <!-- header -->
{% include 'dashboard/components/header.html' %}
  <!-- End / header -->

  <!-- Content-->
  <div class="md-content">
{% block content %}
{% endblock content %}
  </div>
  <!-- End / Content-->

  <!-- footer -->
{% include 'dashboard/components/footer.html' %}
  <!-- End / footer -->

</div>
<!-- Vendors-->
<script type="text/javascript" src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/isotope-layout/isotope.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.countTo/jquery.countTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.countUp/jquery.countup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.matchHeight/jquery.matchHeight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/masonry-layout/masonry.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/owl.carousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.waypoints/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/menu/menu.min.js' %}"></script>
{#		<script type="text/javascript" src="{% static 'vendors/smoothscroll/SmoothScroll.min.js' %}"></script>#}
<!-- App-->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% block script %}
  {% endblock script %}
</body>
</html>
