<!DOCTYPE html>
<html lang="uz">
{% load static %}
{% load i18n %}
{% load custom_filters %} <!-- Custom filtrlar yuklanmoqda -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Meta ma'lumotlar -->
    <meta name="description" content="{% trans 'Shifokorlar va klinikalar uchun boshqaruv tizimi' %}">
    <meta name="author" content="Doctor-A Team">
    <link rel="canonical" href="https://doctoramedical.uz/">
    <meta property="og:url" content="https://doctoramedical.uz">
    <meta property="og:title" content="{% trans 'Doctor-A | Shifokorlar uchun Admin Panel' %}">
    <meta property="og:description" content="{% trans 'Klinikalar va shifokorlar uchun maxsus boshqaruv tizimi' %}">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Doctor-A">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Stil fayllarini ulash -->
    {% include 'administrator/components/styles.html' %}

    <!-- Qo‘shimcha CSS fayllar uchun blok -->
    {% block vendor_css %}
    {% endblock vendor_css %}
</head>
<body>
<!-- Yuklanish animatsiyasi boshlanadi -->
{% include 'administrator/components/loading.html' %}
<!-- Yuklanish animatsiyasi tugaydi -->

<!-- Sahifa o‘rami boshlanadi -->
<div class="page-wrapper">
    <!-- Ilova sarlavhasi boshlanadi -->
    {% include 'administrator/components/header.html' %}
    <!-- Ilova sarlavhasi tugaydi -->

    <!-- Asosiy konteyner boshlanadi -->
    <div class="main-container">
        <!-- Yon panel o‘rami boshlanadi -->
        {% include 'administrator/components/sidebar.html' %}
        <!-- Yon panel o‘rami tugaydi -->

        <!-- Ilova konteyneri boshlanadi -->
        <div class="app-container">
            <!-- Ilova bosh sahifa sarlavhasi boshlanadi -->
            {% include 'administrator/components/app-hero-header.html' %}
            <!-- Ilova bosh sahifa sarlavhasi tugaydi -->

            <!-- Asosiy kontent uchun blok -->
            {% block content %}
            {% endblock content %}


        </div>
    <!-- Ilova pastki qismi boshlanadi -->
{#            {% include 'administrator/components/footer.html' %}#}
            <!-- Ilova pastki qismi tugaydi -->
        <!-- Ilova konteyneri tugaydi -->
    </div>
    <!-- Asosiy konteyner tugaydi -->
</div>
<!-- Sahifa o‘rami tugaydi -->

<!-- *************
  ************ JavaScript fayllari *************
  ************* -->

<!-- JavaScript fayllarini ulash -->
{% include 'administrator/components/scripts.html' %}

<!-- Qo‘shimcha JS fayllar uchun blok -->
{% block vendor_js %}
{% endblock vendor_js %}
</body>
</html>