<!DOCTYPE html>
{% load static %}
<html lang="uz" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"  data-layout="vertical">

<head>
    {% include 'administrator/components/head.html' %}
    {% block title %}

    {% endblock title %}


</head>

<body data-url="{{ request.path }}">
<!-- Toast -->
{% include 'administrator/components/toast.html' %}
<!-- Preloader -->
{% include 'administrator/components/preloader.html' %}
<div id="main-wrapper">
    <!-- Sidebar Start -->
    {% include 'administrator/components/aside-vertical.html' %}
    <!--  Sidebar End -->
    <div class="page-wrapper">
        <!--  Header Start -->
        {% include 'administrator/components/header.html' %}

        <!--  Header End -->



        <div class="body-wrapper">
            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>
        </div>


        {% include 'administrator/components/offcanvas.html' %}


        <script>
            function handleColorTheme(e) {
                document.documentElement.setAttribute("data-color-theme", e);
            }
        </script>
    </div>

        {% include 'administrator/components/search-modal.html' %}


</div>
<div class="dark-transparent sidebartoggler"></div>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<!-- Import Js Files -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'js/theme/app.init.js' %}"></script>
<script src="{% static 'js/theme/theme.js' %}"></script>
<script src="{% static 'js/theme/app.min.js' %}"></script>
<script src="{% static 'js/theme/sidebarmenu.js' %}"></script>

<!-- solar icons -->
<script src="{% static 'libs/fullcalendar/index.global.min.js' %}"></script>
 {% block vendor_js %}
 {% endblock vendor_js %}
</body>

</html>